#chartdiv {
	width	: 100%;
	height	: 500px;
}	
#chartdiv2 {
	width	: 100%;
	height	: 500px;
}	
#textgraf1{
	font-family: arial;
	padding-left: 500px;
    font-style: italic;

}
#yolo{
	padding-top: 65px;
}
#yolo1{
	padding-top: 65px;
}
#yolo3{
	padding-top: 65px;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-left: 277px;
    margin-top: 20px;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
table.gridtable #fuu{
	font-style: italic;
}
 
#lineChartdiv {

	width: 95%;
	height: 800px;
	background-color: #F0F0F0 ;
	margin: 28px;
	margin-top: 100px;
	margin-bottom: 50px;
}
#lineChartdiv2 {

	width: 95%;
	height: 600px;
	background-color: #F0F0F0 ;
	margin: 28px;
	margin-top: 200px;
	margin-bottom: 50px;
}	



