body{
	
}

#chartdiv {
	width:98%; 
	height: 550px; 
	background-color: #FFFFFF;
}	

#chartdiv2 {
	width	: 98%;
	height	: 550px; 
	background-color: #FFFFFF;
}	
#textgraf1{
	font-family: arial;
    font-size: 21px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;

}
#yolo{
	padding-top: 135px;
}
#yolo1{
	padding-top: 65px;
}
#yolo3{
	padding-top: 65px;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
table.gridtable #fuu{
	font-style: italic;
	/*<table align="center" style="margin: 0px auto;"></table>*/
}
 
#lineChartdiv {

	width: 94%;
	height: 550px;
	background-color: #F8F8F8  ;
	margin: 28px;
	margin-top: 0px;
	margin-bottom: 50px;
}
#lineChartdiv2 {

	width: 94%;
	height: 550px;
	background-color: #F8F8F8 ;
	margin: 28px;
	margin-top:0px;
	margin-bottom: 50px;
}
#lineChartdiv3{
	width: 96%;
	height: 500px;
	font-size: 11px;
	background-color: #F8F8F8 ;
}	
p{
	font-family: arial;
	font-size: 14px;

}
#texti1{
	padding-top: 3px;
	padding-left: 64px;
}

#yolo3{
	padding-top: 65px;
	padding-left: 29px;
}
#yolo5{
	padding-top: 80px;
}





