#lineChartdiv {

	width: 95%;
	height: 800px;
	background-color: #F0F0F0 ;
	margin: 28px;
	margin-top: 100px;
	margin-bottom: 50px;
}	
#lineChartdiv2 {

	width: 95%;
	height: 600px;
	background-color: #F0F0F0 ;
	margin: 28px;
	margin-top: 200px;
	margin-bottom: 50px;
}	